  

      .circle1 {
        fill: url(#backgroundgradient);
      }
      
      .circle1:hover {
        fill: url(#gradient1);
      }


       #mermaid {
        transition-property: transform;
        transition-duration: 0.5s;
        transform-origin: 300px 300px;
        fill: black;
      }

       #mermaid:hover {
        transform: rotate(3deg);
       
      }


       #fish1 {
        transition-property: transform;
        transition-duration: 0.9s;
        transform-origin: 300px 300px;
        fill: black;
      }

       #fish1:hover {
        transform: rotate(3deg);

      }

      #fish2 {
        transition-property: transform;
        transition-duration: 0.9s;
        transform-origin: 300px 300px;
        fill: black;
      }

       #fish2:hover {
        transform: rotate(3deg);
       
      }

       #fish3 {
        transition-property: transform;
        transition-duration: 0.9s;
        transform-origin: 300px 300px;
        fill: black;
      }

       #fish3:hover {
        transform: rotate(3deg);
       
      }

       #seaturtle {
        transition-property: transform;
        transition-duration: 0.9s;
        transform-origin: 300px 300px;
        fill: black;
      }

       #seaturtle:hover {
        transform: rotate(3deg);
       
      }

       #seahorse {
        transition-property: transform;
        transition-duration: 0.9s;
        transform-origin: 300px 300px;
        fill: black;
      }

       #seahorse:hover {
        transform: rotate(3deg);
       
      }

       #crab {
        transition-property: transform;
        transition-duration: 0.9s;
        transform-origin: 300px 300px;
        fill: black;
      }

       #crab:hover {
        transform: rotate(1deg);
       
      }

      .circle2 {
        transition-property: transform;
        transition-duration: 0.5s;
        transform-origin: 300px 300px;
        fill: #63B5B3;
      }

      .circle2:hover {
        fill: #BDA0CB;
      }

      .circle3 {
        transition-property: transform;
        transition-duration: 0.5s;
        transform-origin: 300px 300px;
        fill: #63B5B3;
      }

      .circle3:hover {
        fill: #BDA0CB;
      }


      .circle4 {
        transition-property: transform;
        transition-duration: 0.5s;
        transform-origin: 300px 300px;
        fill: #63B5B3;
      }

      .circle4:hover {
        fill: #BDA0CB;
      }

     .circle5 {
        transition-property: transform;
        transition-duration: 0.5s;
        transform-origin: 300px 300px;
        fill: #63B5B3;
      }

      .circle5:hover {
        fill: #BDA0CB;
      }

      .circle6 {
        transition-property: transform;
        transition-duration: 0.5s;
        transform-origin: 300px 300px;
        fill: #63B5B3;
      }

      .circle6:hover {
        fill: #BDA0CB;
      }


      .circle7 {
        transition-property: transform;
        transition-duration: 0.5s;
        transform-origin: 300px 300px;
        fill: #63B5B3;
      }

      .circle7:hover {
        fill: #BDA0CB;
      }



    